@model LoginPageModel

@section Scripts
{

}

@section Styles {

}

<div class="row login">
    <div class="col-md-offset-4 col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">Login</div>
            <div class="panel-body">
                <i>[NYI]</i>
            </div>
            <div class="panel-footer"></div>
        </div>
    </div>
</div>