<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="BackgroundTaskConfiguration" requirePermission="false" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <!-- Internal settings. These are locked on application start. -->
  <appSettings>
    <add key="BackgroundTask.AutoUpdate.Enabled" value="true" />
    <add key="BackgroundTask.AutoUpdate.GitHubRepositoryName" value="Scoop" />
    <add key="BackgroundTask.AutoUpdate.GitHubRepositoryOwner" value="okebai" />
    <add key="BackgroundTask.AutoUpdate.DownloadDirectory" value="updates" />
    <add key="BackgroundTask.AutoUpdate.LogDirectory" value="updates\logs" />
  </appSettings>
  <!-- Dynamic settings. These can be changed during runtime, and are available to clients. -->
  <BackgroundTaskConfiguration>
    <add key="DefaultInterval" value="00:00:20" />
    <add key="DefaultHistoryMaxItemCount" value="10" />

    <add key="PerformanceInterval" value="00:00:10" />
    <add key="PerformanceHistoryMaxItemCount" value="100" />

    <add key="AutoUpdateInterval" value="02:00:00" />
    <add key="AutoUpdateHistoryMaxItemCount" value="5" />
  </BackgroundTaskConfiguration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
