<div class="modal fade" id="connectModal" tabindex="-1" role="dialog" aria-labelledby="connectModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="connectModalTitle">Connect to server</h4>
            </div>
            <div class="modal-body">

                <ul class="nav nav-tabs" role="tablist" id="myTab">
                    <li role="presentation" class="active"><a href="#connectModalTabMyServers" aria-controls="home" role="tab" data-toggle="tab">My servers</a></li>
                    <li role="presentation"><a href="#connectModalTabAddNewServer" aria-controls="profile" role="tab" data-toggle="tab">Add new server</a></li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="connectModalTabMyServers">
                        <ul class="connect-server-list fa fa-ul" data-bind="foreach: connections">
                            <li class="connect">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <h5>
                                            <i class="fa-li fa fa-toggle-on connected-icon" data-bind="visible: isConnected, click: $root.disconnect"></i>
                                            <i class="fa-li fa fa-toggle-off disconnected-icon" data-bind="visible: !isConnected(), click: $root.connect"></i>
                                            <span class="connect-name" data-bind="text: name"></span>
                                        </h5>
                                    </div>
                                    <div class="col-xs-9">
                                        <small class="connect-uri" data-bind="text: uri"></small>
                                    </div>
                                    @*<div class="col-xs-3">
                                        <button class="btn btn-xs btn-success connect-button" data-bind="visible: !isConnected(), click: $root.connect"><i class="fa fa-toggle-on"></i>Connect</button>
                                        <button class="btn btn-xs btn-danger disconnect-button" data-bind="visible: isConnected, click: $root.disconnect"><i class="fa fa-toggle-"></i>Disconnect</button>
                                    </div>*@
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="connectModalTabAddNewServer">
                        <div class="row">
                            <div class="col-x-12">
                                <form id="connectModalForm" data-bind="submit: addConnection">
                                    @Html.AntiForgeryToken()
                                    <div class="form-group">
                                        <label for="connectionName">Name</label>
                                        <input type="text" class="form-control" id="connectionName" data-bind="textInput: newConnection.name, uniqueName: true" />
                                    </div>
                                    <div class="form-group">
                                        <label for="connectionUri">Uri</label>
                                        <input type="url" class="form-control" id="connectionUri" data-bind="textInput: newConnection.uri, uniqueName: true" />
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" data-bind="checked: newConnection.autoConnect" /> Auto connect
                                        </label>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Add</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
