<div class="modal fade" id="connectModal" tabindex="-1" role="dialog" aria-labelledby="connectModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <ul class="nav nav-tabs nav-tabs-material-blue" role="tablist" id="myTab">
                    <li role="presentation" class="nav-tab nav-tab-material-blue active"><a href="#connectModalTabMyServers" aria-controls="home" role="tab" data-toggle="tab">Available servers</a></li>
                    <li role="presentation" class="nav-tab nav-tab-material-blue"><a href="#connectModalTabAddNewServer" aria-controls="profile" role="tab" data-toggle="tab">Add server</a></li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="connectModalTabMyServers">
                        <div class="connect-server-list" data-bind="foreach: connections">
                            <div class="connect row">
                                <div class="col-xs-5">
                                    <div class="ellipsis">
                                        <i class="fa fa-fw fa-arrow-circle-o-up auto-connect-on-icon" data-bind="visible: autoConnect, click: $root.disableAutoConnect"></i>
                                        <i class="fa fa-fw fa-circle-o auto-connect-off-icon" data-bind="visible: !autoConnect(), click: $root.enableAutoConnect"></i>
                                        <i class="fa fa-fw fa-toggle-on connected-icon" data-bind="visible: isConnected, click: $root.disconnect"></i>
                                        <i class="fa fa-fw fa-toggle-off disconnected-icon" data-bind="visible: !isConnected(), click: $root.connect"></i>
                                        <span class="connect-name" data-bind="text: name"></span>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="ellipsis">
                                        <code class="connect-uri">
                                            <span class="text-warning" data-bind="if: hasConnectionProblem"><i class="fa fa-fw fa-warning"></i></span>
                                            <span class="text-success" data-bind="if: !hasConnectionProblem()"><i class="fa fa-fw fa-globe"></i></span>
                                            <span data-bind="text: uri, css: { 'text-primary': !hasConnectionProblem(), 'text-warning': hasConnectionProblem }"></span>
                                        </code>
                                    </div>
                                    <div data-bind="if: hasConnectionProblem">
                                        <small><em class="text-warning" data-bind="text: connectionProblemMessage"></em></small>
                                    </div>
                                </div>
                                <div class="col-xs-1 text-right">
                                    <i class="fa fa-times remove-connection-icon" data-bind="click: $root.removeConnection"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="connectModalTabAddNewServer">
                        <form id="connectModalForm" data-bind="submit: addConnection">
                            <div class="row ">
                                <div class="col-xs-6 form-group">
                                    <label for="connectionName">Name</label>
                                    <input type="text" class="form-control" id="connectionName" data-bind="textInput: newConnection.name, uniqueName: true" />
                                </div>
                                <div class="col-xs-6 form-group">
                                    <label for="connectionUri">Uri</label>
                                    <input type="url" class="form-control" id="connectionUri" data-bind="textInput: newConnection.uri, uniqueName: true" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 form-group">
                                    <div class="togglebutton">
                                        <label>
                                            <input type="checkbox" data-bind="checked: newConnection.autoConnect"><i class="fa fa-fw fa-arrow-circle-o-up auto-connect-on-icon"></i>Auto connect
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 form-group text-center">
                                    <button type="submit" class="btn btn-raised btn-success"><i class="fa fa-fw fa-plus"></i>Add connection</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
