<div class="performance-task-template template">
    <div class="col-lg-6 chart-container">
        <div class="clearfix">
            <h5 class="chart-title">Performance</h5>
            <ul class="chart-legend">
                <li class="performance-legend-cpu"><span class="legend-item-bullet"></span><span class="legend-item-text">CPU</span></li>
                <li class="performance-legend-mem"><span class="legend-item-bullet"></span><span class="legend-item-text">Mem</span></li>
                <li class="performance-legend-disk"><span class="legend-item-bullet"></span><span class="legend-item-text">Disk</span></li>
            </ul>
        </div>
        <div class="chart-target ct-octave"></div>
    </div>
</div>