@model DashboardPageModel

@section Scripts {}

<div class="dashboard-menu dashboard-menu-left">
    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#connectModal">
        <i class="fa fa-plus"></i>
    </button>
</div>
<div class="dashboard-menu dashboard-menu-right">
    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#connectModal">
        <i class="fa fa-plus"></i>
    </button>
</div>

<div class="row dashboard-container-top" id="dashboardContainerTop"></div>
<div class="row dashboard-container-middle" id="dashboardContainerMiddle"></div>

@{ Html.RenderPartial("_PerformanceTask"); }
@{ Html.RenderPartial("_ConnectionModal"); }
