<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="APPLICATIONFOLDER">
            <Component Id="cmp5ED48016E97D36877F3D38926FA36EDC" Guid="*">
                <File Id="fil8566D48A3F96425D3D666A5DCB5C6828" KeyPath="yes" Source="$(var.Scoop.Service.TargetDir)\Microsoft.AspNet.SignalR.Core.dll" />
            </Component>
            <Component Id="cmp677CBCA9CA54E2F8A9D73B42AC272022" Guid="*">
                <File Id="fil2B842A70563CB607DDC14BE8BE2AEB6B" KeyPath="yes" Source="$(var.Scoop.Service.TargetDir)\Microsoft.AspNet.SignalR.Core.xml" />
            </Component>
            <Component Id="cmpB525624EDA55588DD20031F0EF1B26DA" Guid="*">
                <File Id="filD5508D0F374264F78C54A3296848C383" KeyPath="yes" Source="$(var.Scoop.Service.TargetDir)\Microsoft.Owin.Cors.dll" />
            </Component>
            <Component Id="cmpFE4A600FBC283581D8965F9C617A8EEF" Guid="*">
                <File Id="filC2C6BF5285786F678A8587A74A7AACB7" KeyPath="yes" Source="$(var.Scoop.Service.TargetDir)\Microsoft.Owin.Cors.xml" />
            </Component>
            <Component Id="cmpB8730F95A9ADFDC2D1793D975355EFD8" Guid="*">
                <File Id="fil413C8EFD11ADDDEEE523AA5E0083992E" KeyPath="yes" Source="$(var.Scoop.Service.TargetDir)\Microsoft.Owin.Diagnostics.dll" />
            </Component>
            <Component Id="cmp0C686B2CB0F675A654778CA9C8972ECA" Guid="*">
                <File Id="fil372C7BDB3DDDA89BF8E5C859AD5081D1" KeyPath="yes" Source="$(var.Scoop.Service.TargetDir)\Microsoft.Owin.Diagnostics.xml" />
            </Component>
            <Component Id="cmp0009D2008D70C35D77BF4321D67AC4E6" Guid="*">
                <File Id="fil2361E5717E70BB0BB568DE3F35EF329F" KeyPath="yes" Source="$(var.Scoop.Service.TargetDir)\Microsoft.Owin.dll" />
            </Component>
            <Component Id="cmp110F77C98B7588FF40F28EF447582686" Guid="*">
                <File Id="fil49AA3B77D1FF98D9213C3412796FC328" KeyPath="yes" Source="$(var.Scoop.Service.TargetDir)\Microsoft.Owin.Host.HttpListener.dll" />
            </Component>
            <Component Id="cmpB58811AABE0BEFC80C0123C26864514F" Guid="*">
                <File Id="fil765C3C707D14171CCFAFDA0147E6BD60" KeyPath="yes" Source="$(var.Scoop.Service.TargetDir)\Microsoft.Owin.Host.HttpListener.xml" />
            </Component>
            <Component Id="cmpE62D716F7D00741F49F533AB227F80A7" Guid="*">
                <File Id="fil910B2A52AD33B41C47A1531A6DFE53EB" KeyPath="yes" Source="$(var.Scoop.Service.TargetDir)\Microsoft.Owin.Hosting.dll" />
            </Component>
            <Component Id="cmpF11F9BC3728420006480BD068C7C2CE9" Guid="*">
                <File Id="fil4524FC3E688DFA1F816B22A337EA5AF5" KeyPath="yes" Source="$(var.Scoop.Service.TargetDir)\Microsoft.Owin.Hosting.xml" />
            </Component>
            <Component Id="cmpCA8743A9927ECA60B7931AC68BE5AEFC" Guid="*">
                <File Id="filDD370A167E0B25D7C2DF47731CAB5EE2" KeyPath="yes" Source="$(var.Scoop.Service.TargetDir)\Microsoft.Owin.Security.dll" />
            </Component>
            <Component Id="cmpAE60A2C87A644A8F76B7A4DF7FD2111C" Guid="*">
                <File Id="filB01CC361481618C69523D0AADB41EE74" KeyPath="yes" Source="$(var.Scoop.Service.TargetDir)\Microsoft.Owin.Security.xml" />
            </Component>
            <Component Id="cmpED2509792185971713D4CF5E375D9301" Guid="*">
                <File Id="fil702C0605C2F7F379C00FABBE598DE767" KeyPath="yes" Source="$(var.Scoop.Service.TargetDir)\Microsoft.Owin.xml" />
            </Component>
            <Component Id="cmp4CDF7DFD2D0E95016925C6786A10C503" Guid="*">
                <File Id="fil58078AD85E0073F162CFFABD8ECDFD92" KeyPath="yes" Source="$(var.Scoop.Service.TargetDir)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmpEC5CA923F382FAC50F6D948F86E329B2" Guid="*">
                <File Id="fil59800B0773DA93236D44CAFE982940CE" KeyPath="yes" Source="$(var.Scoop.Service.TargetDir)\Newtonsoft.Json.xml" />
            </Component>
            <Component Id="cmp25A4A59EB5867CF45012B053438CF91F" Guid="*">
                <File Id="filF077758410F5A18E85203D26CB4B4F43" KeyPath="yes" Source="$(var.Scoop.Service.TargetDir)\Octokit.dll" />
            </Component>
            <Component Id="cmp3F4F015089E37357C4CE34BE281F4826" Guid="*">
                <File Id="filBFA266940768938DA51459E28B2BD322" KeyPath="yes" Source="$(var.Scoop.Service.TargetDir)\Octokit.pdb" />
            </Component>
            <Component Id="cmp34208B576CA8BB55C8B4464DB7747890" Guid="*">
                <File Id="filEBC7FF43F2E0BE49599822A22F7F79D6" KeyPath="yes" Source="$(var.Scoop.Service.TargetDir)\Octokit.xml" />
            </Component>
            <Component Id="cmpEE5AB48BFCABC47AE33AE13DDD88CAB9" Guid="*">
                <File Id="fil242E5C00765E62335C706E4EBD11E1B9" KeyPath="yes" Source="$(var.Scoop.Service.TargetDir)\Owin.dll" />
            </Component>
            <Component Id="cmp7CAF9BA2B427DA70F26FECE88A974F26" Guid="*">
                <File Id="filECA211CD89790D42AD92BEBFB6629B88" KeyPath="yes" Source="$(var.Scoop.Service.TargetDir)\Scoop.Core.dll" />
            </Component>
            <Component Id="cmpEE6CE23B84A6AFA221C88AC7C2CDCA42" Guid="*">
                <File Id="fil1D81C607CE6EF712536B2F2DDF33E203" KeyPath="yes" Source="$(var.Scoop.Service.TargetDir)\Scoop.Core.pdb" />
            </Component>
            <Component Id="cmpF5E930C57C16CD56AE76D2BF74CEEA60" Guid="*">
                <File Id="fil19A871D728326413754A3D108E28024F" KeyPath="yes" Source="$(var.Scoop.Service.TargetDir)\Scoop.Server.exe" />
            </Component>
            <Component Id="cmp70DFB797364CE04FC70573E3BA03883D" Guid="*">
                <File Id="fil28F97511C46683AB1CDD5968E4BF003D" KeyPath="yes" Source="$(var.Scoop.Service.TargetDir)\Scoop.Server.pdb" />
            </Component>
            <Component Id="cmp57BB176D4E11DC870D5FDC3024E8D23F" Guid="*">
                <File Id="fil0C4D6073D73BE62AA67636FA599A0D2B" KeyPath="yes" Source="$(var.Scoop.Service.TargetDir)\Scoop.Service.pdb" />
            </Component>
            <Component Id="cmpCFFE6D512234392EABED5E35B0EB1DAA" Guid="*">
                <File Id="fil834A9CEFE137660E74BE6796E27181CE" KeyPath="yes" Source="$(var.Scoop.Service.TargetDir)\Scoop.Service.vshost.exe" />
            </Component>
            <Component Id="cmp0499668F8FAED5469408261C8B0CFB99" Guid="*">
                <File Id="fil5B72070A1F3D7E62DF0F4DBAD1052C52" KeyPath="yes" Source="$(var.Scoop.Service.TargetDir)\Scoop.Service.vshost.exe.config" />
            </Component>
            <Component Id="cmpB40707CECBF0B9DE2DFF6FDC668C898B" Guid="*">
                <File Id="filC7ED49DC67A483915130A58AE2E1AAE1" KeyPath="yes" Source="$(var.Scoop.Service.TargetDir)\Scoop.Service.vshost.exe.manifest" />
            </Component>
            <Component Id="cmp49CD81232411BE906EB4919C9E0D0C08" Guid="*">
                <File Id="filEA720AE615929C37034C1962188021D1" KeyPath="yes" Source="$(var.Scoop.Service.TargetDir)\Semver.dll" />
            </Component>
            <Component Id="cmp0B20E548A046FC580EE304C39A187459" Guid="*">
                <File Id="fil594A1C7380F159FA71DB83C4DDCD5708" KeyPath="yes" Source="$(var.Scoop.Service.TargetDir)\System.Web.Cors.dll" />
            </Component>
            <Component Id="cmpFD1AF86160AC838EF00F67D60CDD4CF7" Guid="*">
                <File Id="fil577B98E12ECA32B19B7758BEE6F4CDF0" KeyPath="yes" Source="$(var.Scoop.Service.TargetDir)\Westwind.Utilities.Configuration.dll" />
            </Component>
            <Component Id="cmp2F51C44A140668D3E74B2ADBC5ED57BB" Guid="*">
                <File Id="fil44E3F11262584DBE4A499EE059552AF5" KeyPath="yes" Source="$(var.Scoop.Service.TargetDir)\Westwind.Utilities.Configuration.xml" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="Scoop.Service.Harvest">
            <ComponentRef Id="cmp5ED48016E97D36877F3D38926FA36EDC" />
            <ComponentRef Id="cmp677CBCA9CA54E2F8A9D73B42AC272022" />
            <ComponentRef Id="cmpB525624EDA55588DD20031F0EF1B26DA" />
            <ComponentRef Id="cmpFE4A600FBC283581D8965F9C617A8EEF" />
            <ComponentRef Id="cmpB8730F95A9ADFDC2D1793D975355EFD8" />
            <ComponentRef Id="cmp0C686B2CB0F675A654778CA9C8972ECA" />
            <ComponentRef Id="cmp0009D2008D70C35D77BF4321D67AC4E6" />
            <ComponentRef Id="cmp110F77C98B7588FF40F28EF447582686" />
            <ComponentRef Id="cmpB58811AABE0BEFC80C0123C26864514F" />
            <ComponentRef Id="cmpE62D716F7D00741F49F533AB227F80A7" />
            <ComponentRef Id="cmpF11F9BC3728420006480BD068C7C2CE9" />
            <ComponentRef Id="cmpCA8743A9927ECA60B7931AC68BE5AEFC" />
            <ComponentRef Id="cmpAE60A2C87A644A8F76B7A4DF7FD2111C" />
            <ComponentRef Id="cmpED2509792185971713D4CF5E375D9301" />
            <ComponentRef Id="cmp4CDF7DFD2D0E95016925C6786A10C503" />
            <ComponentRef Id="cmpEC5CA923F382FAC50F6D948F86E329B2" />
            <ComponentRef Id="cmp25A4A59EB5867CF45012B053438CF91F" />
            <ComponentRef Id="cmp3F4F015089E37357C4CE34BE281F4826" />
            <ComponentRef Id="cmp34208B576CA8BB55C8B4464DB7747890" />
            <ComponentRef Id="cmpEE5AB48BFCABC47AE33AE13DDD88CAB9" />
            <ComponentRef Id="cmp7CAF9BA2B427DA70F26FECE88A974F26" />
            <ComponentRef Id="cmpEE6CE23B84A6AFA221C88AC7C2CDCA42" />
            <ComponentRef Id="cmpF5E930C57C16CD56AE76D2BF74CEEA60" />
            <ComponentRef Id="cmp70DFB797364CE04FC70573E3BA03883D" />
            <ComponentRef Id="cmp57BB176D4E11DC870D5FDC3024E8D23F" />
            <ComponentRef Id="cmpCFFE6D512234392EABED5E35B0EB1DAA" />
            <ComponentRef Id="cmp0499668F8FAED5469408261C8B0CFB99" />
            <ComponentRef Id="cmpB40707CECBF0B9DE2DFF6FDC668C898B" />
            <ComponentRef Id="cmp49CD81232411BE906EB4919C9E0D0C08" />
            <ComponentRef Id="cmp0B20E548A046FC580EE304C39A187459" />
            <ComponentRef Id="cmpFD1AF86160AC838EF00F67D60CDD4CF7" />
            <ComponentRef Id="cmp2F51C44A140668D3E74B2ADBC5ED57BB" />
        </ComponentGroup>
    </Fragment>
</Wix>