<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmp9B10D9A3903AED262A1864BBCAE9A992" Guid="*">
                <File Id="fil53D624A5A5C2304AD59A740DEB3C53B3" KeyPath="yes" Source="$(var.Scoop.Service.TargetDir)\Microsoft.AspNet.SignalR.Core.dll" />
            </Component>
            <Component Id="cmp60C5323DEFB9D4DEBCDDB455DEFF3B0F" Guid="*">
                <File Id="filF8944ECA74F41BE84DE2D3CCDBB36696" KeyPath="yes" Source="$(var.Scoop.Service.TargetDir)\Microsoft.AspNet.SignalR.Core.xml" />
            </Component>
            <Component Id="cmpEEB9D04BC454F8E37ABC61F8441EAE67" Guid="*">
                <File Id="fil0186FA4DCA792E43B9ABB34B6C0D7278" KeyPath="yes" Source="$(var.Scoop.Service.TargetDir)\Microsoft.Owin.Cors.dll" />
            </Component>
            <Component Id="cmp0B2F01B83EB5E64F008C7EA160748CB5" Guid="*">
                <File Id="fil6DC1786DEBFA51BA24C6F5B153E47511" KeyPath="yes" Source="$(var.Scoop.Service.TargetDir)\Microsoft.Owin.Cors.xml" />
            </Component>
            <Component Id="cmpB7693CA6495073D2A1CF80536E07DE05" Guid="*">
                <File Id="filF1EA7AB4165E7D7D8F053BF1818D3052" KeyPath="yes" Source="$(var.Scoop.Service.TargetDir)\Microsoft.Owin.Diagnostics.dll" />
            </Component>
            <Component Id="cmp5EC0936F19A4D9C692DFA58AEB8BB495" Guid="*">
                <File Id="fil52375DD76B86E46BCFBD66833A7901C7" KeyPath="yes" Source="$(var.Scoop.Service.TargetDir)\Microsoft.Owin.Diagnostics.xml" />
            </Component>
            <Component Id="cmp01AA85052885F814DD68CCEEC4BF6D28" Guid="*">
                <File Id="fil2DABFCAF651FA2B530D7940929963FBD" KeyPath="yes" Source="$(var.Scoop.Service.TargetDir)\Microsoft.Owin.dll" />
            </Component>
            <Component Id="cmp2E6B41DBA3E69AC005273653DF0A2ADA" Guid="*">
                <File Id="fil51431476551B576E0DE40837C96DAF03" KeyPath="yes" Source="$(var.Scoop.Service.TargetDir)\Microsoft.Owin.Host.HttpListener.dll" />
            </Component>
            <Component Id="cmp8AD1138A6535E2030DDB8BF2F6959BF5" Guid="*">
                <File Id="filF7D89B06AB1046B5EF6BEBDA949D23F4" KeyPath="yes" Source="$(var.Scoop.Service.TargetDir)\Microsoft.Owin.Host.HttpListener.xml" />
            </Component>
            <Component Id="cmp9C5447F2399454B10B9F0FC887DF9ADB" Guid="*">
                <File Id="fil3AB98243EA65101433F69CE219A2DB63" KeyPath="yes" Source="$(var.Scoop.Service.TargetDir)\Microsoft.Owin.Hosting.dll" />
            </Component>
            <Component Id="cmp00364872D0BC2B790B11864FDE45628A" Guid="*">
                <File Id="filC78AD7286EBDE65520D8AA273521AFA1" KeyPath="yes" Source="$(var.Scoop.Service.TargetDir)\Microsoft.Owin.Hosting.xml" />
            </Component>
            <Component Id="cmp03A8D4C3485EFEFE6E7A2672AD59A78C" Guid="*">
                <File Id="fil84E96E5B532DEB4ECC9D28E7383A75F6" KeyPath="yes" Source="$(var.Scoop.Service.TargetDir)\Microsoft.Owin.Security.dll" />
            </Component>
            <Component Id="cmp4BC5849D451ABA43E557A4883759FE22" Guid="*">
                <File Id="filBAE68F6C19B6E0EAEDD4E2754F4E3263" KeyPath="yes" Source="$(var.Scoop.Service.TargetDir)\Microsoft.Owin.Security.xml" />
            </Component>
            <Component Id="cmpB67C988B41CF6589537DF395BD541C70" Guid="*">
                <File Id="fil55B3646256BE80E6EA514C06528BBF41" KeyPath="yes" Source="$(var.Scoop.Service.TargetDir)\Microsoft.Owin.xml" />
            </Component>
            <Component Id="cmpBC4FC00A26E7D32479D42D3411317FC5" Guid="*">
                <File Id="fil90A8AAD9FC612906D405476D61CEA3F4" KeyPath="yes" Source="$(var.Scoop.Service.TargetDir)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmp125C379E185231EFADA4CB4301BD0A9E" Guid="*">
                <File Id="fil3A2F44A7730E98D18E0948B3261DFABD" KeyPath="yes" Source="$(var.Scoop.Service.TargetDir)\Newtonsoft.Json.xml" />
            </Component>
            <Component Id="cmpEFC6E6DF45D8BCCD8833915E59A68DD4" Guid="*">
                <File Id="fil3498A6F260EBF4B5230ED05F72D3C390" KeyPath="yes" Source="$(var.Scoop.Service.TargetDir)\Owin.dll" />
            </Component>
            <Component Id="cmp924F365E609FE0FCD9E593EC11F45812" Guid="*">
                <File Id="fil39EBFA6D0A415C62B109D28FDA960026" KeyPath="yes" Source="$(var.Scoop.Service.TargetDir)\Scoop.Core.dll" />
            </Component>
            <Component Id="cmp043CF451E306333AC5EA8ECB8D1BD11E" Guid="*">
                <File Id="filFF64645257CFC04A38562D3F6C4E6537" KeyPath="yes" Source="$(var.Scoop.Service.TargetDir)\Scoop.Core.pdb" />
            </Component>
            <Component Id="cmpAC5D2E2D2DF777DD42B0BBC4592276E0" Guid="*">
                <File Id="fil02991AD0A4C35EDE9A20C8F25E1D14F7" KeyPath="yes" Source="$(var.Scoop.Service.TargetDir)\Scoop.Server.exe" />
            </Component>
            <Component Id="cmp55CF54883314816661BCDBAB3DBCA948" Guid="*">
                <File Id="fil4769D75F06D387BC91AA12A488AB67BE" KeyPath="yes" Source="$(var.Scoop.Service.TargetDir)\Scoop.Server.pdb" />
            </Component>
            <Component Id="cmpA4F0EDC8E9B7B83C0678F4D68489BAF1" Guid="*">
                <File Id="fil8A5E17F9DDDB68B8B4C60668E68708FC" KeyPath="yes" Source="$(var.Scoop.Service.TargetDir)\Scoop.Service.pdb" />
            </Component>
            <Component Id="cmp3B8D83A6A95B8E31C88BA26A03BBFA81" Guid="*">
                <File Id="fil5787A613424F0C132BEE2594FF48FA9D" KeyPath="yes" Source="$(var.Scoop.Service.TargetDir)\Scoop.Service.vshost.exe" />
            </Component>
            <Component Id="cmp3223C25BC9C55654ACC726661D3DCC5E" Guid="*">
                <File Id="filB7403F95A10F5E00963B90B8A8AA9240" KeyPath="yes" Source="$(var.Scoop.Service.TargetDir)\Scoop.Service.vshost.exe.config" />
            </Component>
            <Component Id="cmpF00DBD867C1D52FCD4BD920F6B54B95C" Guid="*">
                <File Id="fil2742565E3ADF35CF247C5E0CFC8F61C8" KeyPath="yes" Source="$(var.Scoop.Service.TargetDir)\Scoop.Service.vshost.exe.manifest" />
            </Component>
            <Component Id="cmpFB681CCE3A69379D12C6F0AE4D93F3F6" Guid="*">
                <File Id="filA1D2A96B8EEEDD0F4224B9862791C67B" KeyPath="yes" Source="$(var.Scoop.Service.TargetDir)\System.Web.Cors.dll" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="Scoop.Service.Harvest">
            <ComponentRef Id="cmp9B10D9A3903AED262A1864BBCAE9A992" />
            <ComponentRef Id="cmp60C5323DEFB9D4DEBCDDB455DEFF3B0F" />
            <ComponentRef Id="cmpEEB9D04BC454F8E37ABC61F8441EAE67" />
            <ComponentRef Id="cmp0B2F01B83EB5E64F008C7EA160748CB5" />
            <ComponentRef Id="cmpB7693CA6495073D2A1CF80536E07DE05" />
            <ComponentRef Id="cmp5EC0936F19A4D9C692DFA58AEB8BB495" />
            <ComponentRef Id="cmp01AA85052885F814DD68CCEEC4BF6D28" />
            <ComponentRef Id="cmp2E6B41DBA3E69AC005273653DF0A2ADA" />
            <ComponentRef Id="cmp8AD1138A6535E2030DDB8BF2F6959BF5" />
            <ComponentRef Id="cmp9C5447F2399454B10B9F0FC887DF9ADB" />
            <ComponentRef Id="cmp00364872D0BC2B790B11864FDE45628A" />
            <ComponentRef Id="cmp03A8D4C3485EFEFE6E7A2672AD59A78C" />
            <ComponentRef Id="cmp4BC5849D451ABA43E557A4883759FE22" />
            <ComponentRef Id="cmpB67C988B41CF6589537DF395BD541C70" />
            <ComponentRef Id="cmpBC4FC00A26E7D32479D42D3411317FC5" />
            <ComponentRef Id="cmp125C379E185231EFADA4CB4301BD0A9E" />
            <ComponentRef Id="cmpEFC6E6DF45D8BCCD8833915E59A68DD4" />
            <ComponentRef Id="cmp924F365E609FE0FCD9E593EC11F45812" />
            <ComponentRef Id="cmp043CF451E306333AC5EA8ECB8D1BD11E" />
            <ComponentRef Id="cmpAC5D2E2D2DF777DD42B0BBC4592276E0" />
            <ComponentRef Id="cmp55CF54883314816661BCDBAB3DBCA948" />
            <ComponentRef Id="cmpA4F0EDC8E9B7B83C0678F4D68489BAF1" />
            <ComponentRef Id="cmp3B8D83A6A95B8E31C88BA26A03BBFA81" />
            <ComponentRef Id="cmp3223C25BC9C55654ACC726661D3DCC5E" />
            <ComponentRef Id="cmpF00DBD867C1D52FCD4BD920F6B54B95C" />
            <ComponentRef Id="cmpFB681CCE3A69379D12C6F0AE4D93F3F6" />
        </ComponentGroup>
    </Fragment>
</Wix>