@import 'bootstrap/bootstrap.less';
@import 'bootswatch/darkly/variables.less';
@import 'bootswatch/darkly/bootswatch.less';

@graph1: #ffff00;
@graph2: #5d9cff;
@graph3: #f84dff;

/* Bootstrap overrides */
@font-size-base: 14px;
@font-family-sans-serif: 'Open Sans', sans-serif;
@headings-font-weight: 600;

.tab-pane .row {
    margin-left: @grid-gutter-width / 2;
    margin-right: @grid-gutter-width / 2;
}

.nav-tabs {
    margin-bottom: @grid-gutter-width / 2;
}

/* FontAwesome overrides */
.fa-li {
    top: .2em;
}

ul.fa-ul {
    width: 100%;

    h5 {
        line-height: 1.4;
        margin-top: 0;
        margin-bottom: 0;
    }

    small {
        line-height: 1.5;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 14px;
    }

    .btn-xs {
        font-size: 10px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }
}
/* Common */
.template {
    display: none;
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    display: inline-block;
    overflow: hidden;
}

.text-dark {
    color: @gray-base;
}

/* Menu */
.dashboard-menu {
    position: absolute;
    top: 0;
    z-index: 100;
    width: 60px;

    &.dashboard-menu-left {
        left: 0;
        text-align: left;

        button {
            padding: 1px 20px 20px 6px;
        }
    }

    &.dashboard-menu-right {
        right: 0;
        text-align: right;

        button {
            padding: 1px 6px 20px 20px;
        }
    }
}

/* Connect modal */
.connect {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-top: 5px;
    padding-left: 2px;
    padding-right: 2px;
    border-bottom: 1px #464545 solid;

    &:last-child {
        border: none;
    }

    > div {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
}

.connect-name,
.connect-uri {
    vertical-align: bottom;
}

.auto-connect-on-icon {
    color: @brand-info;
    cursor: pointer;
}

.auto-connect-off-icon {
    color: @gray-light;
    cursor: pointer;
}

.connected-icon {
    color: @brand-success;
    cursor: pointer;
}

.disconnected-icon {
    color: @gray-light;
    cursor: pointer;
}

.connect-button,
.disconnect-button {
    float: right;

    i.fa {
        margin-right: 3px;
    }
}

.remove-connection-icon {
    color: @brand-danger;
    cursor: pointer;
}

/* Dashboard */

.tile {
    height: 500px;
}

/* Chartist */
.ct-line {
    stroke-width: 1px;
}

.ct-label {
    color: @text-color;
}

.ct-grid {
    stroke: rgba(255, 255, 255, 0.2);
    stroke-width: 1px;
    stroke-dasharray: 1px;
}

.ct-series-a .ct-area {
    fill: @brand-info;
}

.ct-series-a .ct-line {
    stroke: @brand-info;
}

.ct-series-b .ct-area {
    fill: #803980;
}

.ct-series-b .ct-line {
    stroke: #803980;
}

.ct-series-c .ct-area {
    fill: @brand-success;
}

.ct-series-c .ct-line {
    stroke: @brand-success;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
    /* Login */
    .row.login {
        margin-top: @grid-gutter-width * 3;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
}

.chart-title {
    float: left;
    margin: 4px 0 0 49px;
}

.chart-legend {
    list-style: none;
    float: right;
    margin: 0 6px 0 0;

    > li {
        float: left;
        margin-right: 10px;
    }

    .legend-item-bullet {
        border: 1px solid #ccc;
        float: left;
        width: 10px;
        height: 10px;
        margin: 6px 2px 2px 2px;
    }

    .legend-item-text {
        font-size: 10px;
    }
}

/* Performance */
.chart-title {
    color: @gray;

    .name {
        color: @gray-lighter;
    }

    .uri {
        color: @gray-light;
    }
}

.chart-legend > li {
    &.performance-legend-cpu > .legend-item-bullet {
        background-color: @brand-info;
    }

    &.performance-legend-mem > .legend-item-bullet {
        background-color: #803980;
    }

    &.performance-legend-disk > .legend-item-bullet {
        background-color: @brand-success;
    }
}
